# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
./.idea
./qr_code.png

# Dependency directories (remove the comment below to include it)
# vendor/
/*.log
/.idea
/qr_code.png
/cookie.txt
*.bak
go.sum
/同步代码.sh
conf.my.ini
logs
*.log
cookie.txt
